div {
  
    height: 100%;
    width:100%
  } 
  
  @media screen and (max-width: 767px) {   
    div{
          background-image: url(images/115_BLACK_FRIDAY.png);
          background-size: cover;
      } 
  }
  
  @media screen and (min-width: 768px) {      
    div{      
          background-image: url(images/115_BLACK_FRIDAY.png);
          background-size: cover;
      } 
  } 
  @media (min-width: 992px) {      
    div{        
            background-image: url(images/Email-Newsletter.png);
            background-size: cover;
        } 
  }
  @media (min-width: 1200px) {    
    div{         
           background-image: url(images/Email-Newsletter.png);
           background-size: cover;
       } 
  }

html {
    background-color: black;
}
  
  canvas{
    z-index: 2;
    max-width:100%;
    height:auto;
  }
  
  .text{
    text-align: center;
    color:#ffffff6b;
    font-size: 28px;
    width: 100%;
    top:130px;
    position: absolute;
    margin:0 auto;
    display: block;
  }

  .class{background-size:auto auto;}
@media screen and (max-width 1920px){
    .class{background-size:100% auto;}
}

button {
    display: grid;
    margin: auto;
    background-color: #000000;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
}